---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

.my-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @media screen and (max-width: 700px) {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}
